<section class="section">
  <div class="page-width">
    <h1 class="page-title">Create account</h1>
    {%- form 'create_customer', class: 'contact-form' -%}
      {{ form.errors | default_errors }}
      <label for="FirstName">First name</label>
      <input id="FirstName" type="text" name="customer[first_name]" autocomplete="given-name">
      <label for="LastName">Last name</label>
      <input id="LastName" type="text" name="customer[last_name]" autocomplete="family-name">
      <label for="RegisterEmail">Email</label>
      <input id="RegisterEmail" type="email" name="customer[email]" autocomplete="email">
      <label for="RegisterPassword">Password</label>
      <input id="RegisterPassword" type="password" name="customer[password]" autocomplete="new-password">
      <button class="button" type="submit">Create</button>
    {%- endform -%}
  </div>
</section>

{% schema %}
{
  "name": "Main register",
  "settings": []
}
{% endschema %}
