<section class="section">
  <div class="page-width">
    <h1 class="page-title">{{ 'templates.404.title' | t }}</h1>
    <p class="empty-state">{{ 'templates.404.text' | t }}</p>
    <a class="button" href="{{ routes.root_url }}">{{ 'templates.404.button' | t }}</a>
  </div>
</section>

{% schema %}
{
  "name": "Main 404",
  "settings": []
}
{% endschema %}
